.skillContainer {
    margin: 1em 2em;
    display: flex;
    flex-direction: column;
}

.skillContainer > span {
    display: flex;
    flex-direction: column;
    font-weight: 300;
}

@media screen and (max-width: 768px) {
    .skillContainer {
        width: 92px;
        height: 92px;
        display: block;
        margin: 1em;
    }

    .skillContainer > span {
        font-size: 16px;
    }
}