.container {
  background: linear-gradient(rgb(17 17 17 / 1) 0%,
                              rgb(17 17 17 / .4) 20%,
                              rgb(17 17 17 / .9) 60%,
                              rgb(17 17 17 / 1) 100%), 
              url(../public/images/portfolio.png) no-repeat #000;
  background: -webkit-linear-gradient(rgb(17 17 17 / 1) 0%,
                              rgb(17 17 17 / .4) 20%,
                              rgb(17 17 17 / .9) 60%,
                              rgb(17 17 17 / 1) 100%), 
              url(../public/images/portfolio.png) no-repeat #000;
  background-size: 100%;
  background-position-y: 100%;
  min-height: 100vh;
}

.main {
  color: white;
  padding-bottom: 5rem;
  text-align: center;
  padding-top: 10em;
  width: 100%;
  min-height: 100vh;
  backdrop-filter: blur(10px);
}

.projects {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1300px;
  margin: 4em auto;
  text-align: center;
}




/* Mobile */

@media screen and (max-width: 768px) {
  .container {
    padding: 0;
    display: flex;
    justify-content: center;
    background: linear-gradient(rgb(17 17 17 / 1) 0%,
                                rgb(17 17 17 / .2) 8%,
                                rgb(17 17 17 / 1) 20%,
                                rgb(17 17 17 / 1) 40%), 
    url(../public/images/portfolio.png) no-repeat #000;
    background: -webkit-linear-gradient(rgb(17 17 17 / 1) 0%,
                                rgb(17 17 17 / 0) 8%,
                                rgb(17 17 17 / .9) 20%,
                                rgb(17 17 17 / 1) 40%), 
    url(../public/images/portfolio.png) no-repeat #000;
    background-size: 250%;
    background-position: center top;
    width: 100%;
    min-height: 100vh;
  }

  .main {
    padding: 10em 24px 0 24px;
  }
}